:root {
    --primary-btn: #002B6A;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgba(242, 242, 242, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* rest of the styles remain unchanged */
.container-dashboard {
    display: flex;
    justify-content: space-between;
}

.caption {
    color: rgb(101, 101, 101);
}

.dashboard-content {
    max-height: 90vh;
    overflow-y: auto;
}

.container-dashboard .dashboard-profile {
    min-width: 300px;
    /* width: auto; */
    max-width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 20px 10px;
}

.dashboard-profile .profile-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.dashboard-profile .profile-content .container-total-info .main-info {
    display: flex;
    justify-content: center;
}

.main-info .info-icon {
    height: auto;
    max-height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: #7267ef;

}

.main-info .info-icon i {
    height: auto;
    max-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    font-weight: bold;
}

.container-dashboard .dashboard-profile .profile-content .profile-image {
    height: 150px;
    width: auto;
    max-width: 150px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    /* max-height: 150px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    object-fit: cover;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-content .profile-location {
    font-size: 12px;
    color: blueviolet;
    font-weight: 600;
}

.dashboard-profile .reminders {
    height: 300px;
}

/* alert */

.alert-wrapper {
    position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert-container {
    width: 250px;
    padding: 10px;
    /* background-color: rgb(199, 196, 254); */
    border-radius: 5px;
    /* color: rgb(29, 0, 86); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    opacity: 1;
    transition: transform 0.6s ease, opacity 0.6s ease;
    right: -400px;
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    0% {
        right: -400px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

.slide-out {
    animation: slide-out 0.6s forwards;
}

@keyframes slide-out {
    0% {
        right: 0;
        opacity: 1;
    }

    100% {
        right: -400px;
        opacity: 0;
    }
}

/* Graph */
.graph-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
}

#comboChart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive styling */
@media (max-width: 768px) {
    .graph-container {
        padding-bottom: 50%;

    }
}